.customers {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 106px;

    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__row {
    display: flex;
    justify-content: space-around;

    @include for-large-up {
      flex: 1;
      justify-content: space-around;
    }
  }

  &__item {
    height: 94px;
    width: 107px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    border-bottom: 1px solid $border-color-light;
    border-right: 1px solid $border-color-light;

    &:last-child {
      border-right: none;
    }

    @include for-large-up {
      border: 0;
    }
  }

  &__logo {
    max-width: 80%;
    filter: brightness(0);
  }
}
