.headline {
  width: 100%;

  @include for-large-up {
    position: relative;

    margin: auto;
    margin-top: 76px;
    padding-bottom: 77px;

    width: 1140px;
    display: flex;
  }

  &__content {
    margin: 35px 15px 33px;
    @include for-large-up {
      margin: 0;
      position: absolute;
      z-index: 2;
    }
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;

    @include for-large-up {
      margin: 0;
      height: 165px;
      width: 754px;

      font-weight: 700;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      z-index: 1;
    }
  }

  &__description {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;

    @include for-large-up {
      margin-top: 34px;
      margin-bottom: 0;
      height: 102px;
      width: 456px;
      font-size: 24px;
      line-height: 34px;
      z-index: 1;
    }
  }

  &__bunner {
    width: 100%;
    margin-bottom: 36px;

    @include for-large-up {
      position: relative;
      right: -105px;
      top: 0;
      margin-left: auto;

      height: 448px;
      width: 796px;
    }
  }

  &__actions {
    margin-top: 30px;

    & > *:last-child {
      margin-top: 15px;
    }

    @include for-large-up {
      margin-top: 58px;
      display: flex;

      & > *:last-child {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }

  &__action-btn {
    @include for-large-down {
      width: 100%;
    }
  }
}
