.order {
  padding: 50px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: $color-light;

  @include for-large-up {
    padding: 73px 0px 72px 0px;
    flex-direction: row;
    align-items: flex-start;
  }
  &__illustration {
    max-width: 200px;

    @include for-large-up {
      height: 296px;
      max-width: 269px;
      margin-right: 121px;
    }
  }

  &__details {
    max-width: 555px;
  }

  &__title {
    margin-top: 33px;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
  }

  &__text {
    margin-top: 12px;
    font-size: 22px;
    line-height: 32px;
  }

  &__form {
    @include for-large-up {
      margin-top: 26px;
      display: flex;
    }
  }

  &__email {
    margin: 0;
    margin-top: 40px;
    height: 48px;
    width: 100%;

    text-align: center;
    font-size: 18px;
    line-height: 13px;

    border: 1px solid $border-color-email-dark;
    border-radius: 2px;

    @include for-large-up {
      margin-top: 0;
    }

    &::placeholder {
      color: $text-color-dark;
    }
  }

  &__button {
    margin-top: 12px;
    flex-shrink: 0;

    @include for-large-down {
      width: 100%;
    }

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
    }
  }

  &__terms {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $text-color-light-grey;
  }

  &__terms-link {
    color: $text-color-blue;
  }
}
