.tips {
  margin-top: 8px;

  @include for-large-up {
    display: none;
  }
}

.tip {
  padding: 49px 15px 0px 15px;
  border-bottom: 1px solid $border-color-light;

  &__subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-green;
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }

  &__description {
    margin: 0;
    margin-top: 15px;
    font-size: 24px;
    line-height: 34px;
  }

  &__decoration {
    margin: 0;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-top: 30px;
    max-width: 100%;
  }

  &__image-caption {
    margin-top: 19px;
    font-size: 14px;
    line-height: 22px;
    color: $text-color-light-grey;
  }
}
