$color-white: #fff;
$color-light: #f4f5f7;
$color-light-blue: #3040c4;
$color-beige: #f3c6bd;
$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-orange: #f1592b;
$text-color-lighter-blue: #0189d1;
$text-color-blue: #3142c6;
$text-color-dark-blue: #3141c5;
$text-color-black: rgb(97, 25, 25);
$text-color-white: $color-white;
$text-color-dark: #2b292d;
$border-color-light: #e3e3e3;
$border-color-lighter-dark: #2b292d26;
$border-color-email-dark: #2b292d33;
$border-color-light-dark: #00000026;
$border-color-dark: $text-color-dark;
$border-color-blue: $text-color-blue;
$shadow-color-light: #ffffff1a;
$shadow-color--light-black: #0000000d;
$shadow-color-black: #0000001a;
